<div class="py-10 px-1">
  <img src="" />
  <div>
    <p class="font-bold text-[25px]">Enter your password</p>
    <p class="text-[12px]">
      Your new password must be different to previous passwords
    </p>
  </div>

  <form [formGroup]="form" (ngSubmit)="requestReset()" class="grid gap-y-3">
    <div class="relative">
      <input
        class="border border-gray-300 w-[80%] py-1.5 rounded-[5px]"
        type="password"
        placeholder="Enter new password"
        formControlName="password"
      />
      <i class="absolute right-[22%] top-[20%]">afi</i>
    </div>

    <div *ngIf="password?.hasError('minlength') || password?.hasError('required')">
      Name must be at least 4 characters long.
    </div>

    <div class="relative">
      <input
        class="border border-gray-300 w-[80%] py-1.5 rounded-[5px]"
        [attr.type]="confirmPasswordHidden"
        placeholder="Confirm new password"
        formControlName="confirmPassword"
      />
      <a
        (click)="changeConfirmPasswordStatus()"
        class="absolute right-[22%] top-[20%]"
        >{{ textStatusConfirmPassWord }}</a
      >
    </div>
    <div *ngIf="confirmPassword?.hasError('minlength') || confirmPassword?.hasError('required')">
      Name must be at least 4 characters long.
    </div>


    <button
      type="button"
      (click)="requestReset()"
      class="bg-blue-600 p-2 w-[130px] text-white rounded-[5px]"
    >
      Reset password
    </button>
  </form>
</div>
