<div class="py-10 px-1">
  <img src="" />
  <div>
    <p class="font-bold text-[25px]">Enter your password</p>
    <p class="text-[12px]">
      Your new password must be different to previous passwords
    </p>
  </div>

  <form class="grid gap-y-3">
    <div class="relative">
      <input
        class="border border-gray-300 w-[80%] py-1.5 rounded-[5px]"
        type="password"
        placeholder="Enter new password"
      />
      <i class="absolute right-[22%] top-[20%]">afi</i>
    </div>

    <div class="relative">
        <input
        class="border border-gray-300 w-[80%] py-1.5 rounded-[5px]"
        [attr.type]="confirmPasswordHidden"
        placeholder="Confirm new password"
      />
      <a (click)="changeConfirmPasswordStatus()"  class="absolute right-[22%] top-[20%]">{{textStatusConfirmPassWord}}</a>
    </div>
 
    <button type="button" class="bg-blue-600 p-2 w-[130px] text-white rounded-[5px]">
      Reset password
    </button>
  </form>
</div>
