<h2 class="font-bold text-[20px] mt-5">Sign in to your account</h2>
<form class="space-y-5" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mt-5">
    <label class="font-medium"> Your email</label>
    <div class="mt-1">
      <input
        type="email"
        formControlName="email"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="name@company.com"
      />
    </div>
  </div>

  <div>
    <label class="font-medium"> Confirm Password</label>
    <div class="mt-1">
      <input
        type="password"
        formControlName="password"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="********"
      />
    </div>
  </div>

  <div class="flex justify-between w-[95%]">
    <div>
      <input type="checkbox" class="mr-3 bg-gray-100" />
      <label>Remember me </label>
    </div>
    <div class="text-end">
      <a class="text-blue-600">Forgot password</a>
    </div>
  </div>

  <div class="mt-5">
    <button
      type="submit"
      class="btn bg-blue-500 rounded-[20px] w-[95%] h-[35px] text-white"
    >
      Sign in
    </button>
  </div>
  <div class="pb-5">
    Don’t have an account yet?
    <a routerLink="/app-register" class="text-blue-900 font-bold">Sign up</a>
  </div>
</form>
