<h2 class="font-bold text-[20px] mt-5">Create and account</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
  <div class="mt-5">
    <label class="font-medium"> Your email</label>
    <div class="mt-1">
      <input
        type="email"
        [ngClass]="{ 'is-invalid': true }"
        formControlName="email"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="name@company.com"
      />
    </div>
  </div>

  <div class="mt-5">
    <label class="font-medium"> First Name</label>
    <div class="mt-1">
      <input
        type="email"
        [ngClass]="{ 'is-invalid': true }"
        formControlName="firstName"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="Your First Name"
      />
    </div>
  </div>

  <div class="mt-5">
    <label class="font-medium"> Your email</label>
    <div class="mt-1">
      <input
        type="email"
        [ngClass]="{ 'is-invalid': true }"
        formControlName="lastName"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="Your Last Name"
      />
    </div>
  </div>

  <div>
    <label class="font-medium"> Password</label>
    <div class="mt-1">
      <input
        type="email"
        formControlName="password"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="********"
      />
    </div>
  </div>

  <div>
    <label class="font-medium"> Confirm Password</label>
    <div class="mt-1">
      <input
        type="email"
        formControlName="confirmPassword"
        class="w-[95%] h-[35px] border border-gray-300 rounded-lg bg-gray-100"
        placeholder="********"
      />
    </div>
  </div>

  <div>
    <input type="checkbox" class="mr-3 bg-gray-100" />
    <label>I accept the </label>
    <label class="font-medium text-blue-600">Terms and Conditions</label>
  </div>

  <div class="mt-5">
    <button
      type="submit"
      class="btn bg-blue-500 rounded-[20px] w-[95%] h-[35px] text-white"
    >
      Create an account
    </button>
  </div>
  <div class="pb-5">
    Already have an account?
    <a routerLink="/app-login" class="text-blue-900 font-bold">Login here</a>
  </div>
</form>
