<div>
    <div class="flex border-b w-[100%]">
        <div>
            <h1>Add product</h1>
        </div>
        <button (click)="closeDialog()" class="mr-auto">x</button>
    </div>
    <div class="w-[100%]">
        <div class="flex">
            <div>
                <p>Product Name</p>
                <input class="border bg-gray-100 " type="text"/>
            </div>
            <div>
                <p>Product Name</p>
                <input class="border bg-gray-100 " type="text"/>
            </div>
        </div>
        <div class="flex">
            <div>
                <p>Product Name</p>
                <input class="border bg-gray-100 " type="text"/>
            </div>
            <div>
                <p>Product Name</p>
                <input class="border bg-gray-100 " type="text"/>
            </div>
        </div>
        <p>Product Details</p>
        <textarea class="bg-gray-100 w-[100%]"></textarea>
        <input type="file"/>
        <button class="bg-blue-500 border rounded-[8px] p-[3px] text-white">Add product</button>
    </div>
</div>