<div class="w-[100%]">
  <div class="mx-[250px]">
    <div>Home / Phụ kiện tủ bếp - tủ áo</div>
    <div class="flex">
      <div class="w-[25%] border rounded-t-[4px] mr-[2%]">
        <div class=" ">
          <div class="li-yellow">Phân loại</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">THƯƠNG HIỆU</div>
          <div class="flex">
            <div>
              <div class="space-y-3 m-2">
                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>

                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>

                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <div class="space-y-3 m-2">
                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>

                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>

                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="li-yellow">Chất liệu</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">Xuất xứ</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">Giá</div>
        </div>
      </div>

      <div class="w-[70%]">
        <div class="text-[20px] font-bold text-orange-400 border-b my-2 pb-2">
          <div>PHỤ KIỆN TỦ BẾP - TỦ ÁO</div>
        </div>

        <div class="flex flex-wrap gap-x-[10px] mt-[15px]">
          <div *ngFor="let product of products" class="w-[calc(33%-10px)] hover:border border-orange-400 p-1">
            <a class="relative block overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                {{ product.ProductName }}</span
              >
              <img class="w-full h-[250px]"   [src]="product.PhotoReview"/>
            </a>
            <div class="mt-5">
              <p class="font-medium ">{{ product.ProductName }}</p>
              <div class="flex items-center justify-between mt-2">
                <div class="flex flex-wrap gap-x-3 items-end ">
                  <p class=" font-medium leading-6  text-red-600 md:text-[20px] ">{{ product.Price }}
                  <span>d</span></p>
                  <p class="line-through md:text-[14px] ">{{ product.Price }}
                  <span>d</span></p>
                </div>
                <a class="md:w-[32px] bg-gray-400 hover:bg-yellow-400 ">
                  <img (click)="addToCart(product)" class="cursor-pointer p-2" src="assets/img/shopping-cart.png" w alt="" />
                </a>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
