<div>
    <div class="flex border-b w-[100%]">
        <div>
            <h1>Add product</h1>
        </div>
        <button (click)="closeDialog()" class="mr-auto">x</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(imageInput2)">
        <div class="w-[100%]">
            <div class="flex">
                <div>
                    <p>Product Name</p>
                    <input class="border bg-gray-100 " type="text"
                    placeholder="Product Name"
                    formControlName="ProductName"
                    />
                </div>
                <div>
                    <p>Description</p>
                    <input class="border bg-gray-100 " type="text" 
                    placeholder="Description"
                    formControlName="Description"
                    />
                </div>
            </div>
            <div class="flex">
                <div>
                    <p>Id</p>
                    <input class="border bg-gray-100 " type="text"
                    placeholder="Content"
                    formControlName="Content"
                     />
                </div>
                <div>
                    <p>Price</p>
                    <input class="border bg-gray-100 " type="text"
                    placeholder="Price"
                    formControlName="Price"
                    />
                </div>
            </div>
            <p>Product Details</p>
            <textarea class="bg-gray-100 w-[100%]"></textarea>
            <input  #imageInput2  type="file" />
            <button class="bg-blue-500 border rounded-[8px] p-[3px] text-white">Add product</button>
        </div>
    </form>
</div>