<div class="w-[100%]">
  <div class="mx-[250px]">
    <div>Home / Phụ kiện tủ bếp - tủ áo</div>
    <div class="flex">
      <div class="w-[25%] border rounded-t-[4px] mr-[2%]">
        <div class=" ">
          <div class="li-yellow">Phân loại</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">THƯƠNG HIỆU</div>
          <div class="flex">
            <div>
              <div class="space-y-3 m-2">
                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>

                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>

                <div class="flex w-[calc(90%)]">
                  <input type="checkbox" />
                  <img
                    src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                  />
                </div>
              </div>
            </div>

            <div>
              <div>
                <div class="space-y-3 m-2">
                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>

                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>

                  <div class="flex w-[calc(90%)]">
                    <input type="checkbox" />
                    <img
                      src="assets/img/100_logo-kaff-koilsnafea-8HJJTxpnJg.webp"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="li-yellow">Chất liệu</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">Xuất xứ</div>
          <li class="px-[10px]">
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
            <ul class="flex gap-2">
              <input type="checkbox" />
              <p>okokok</p>
            </ul>
          </li>
        </div>

        <div>
          <div class="li-yellow">Giá</div>
        </div>
      </div>

      <div class="w-[70%]">
        <div class="text-[20px] font-bold text-orange-400 border-b my-2 pb-2">
          <div>PHỤ KIỆN TỦ BẾP - TỦ ÁO</div>
        </div>

        <div class="flex flex-wrap gap-x-[10px]">
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
            <div class="flex justify-between">
              <div class="flex items-end gap-x-3">
                <p class="text-red-600">2.855.999d</p>
                <p class="line-through">4.390.000d</p>
              </div>
              <a class=" md:w-[32px] bg-gray-400 hover:bg-yellow-600">
                <img src="assets/img/shopping-cart.png" w alt="" />
              </a>
            </div>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
          <div class="w-[calc(33%-10px)]">
            <div class="relative overflow-hidden">
              <span
                class="absolute -rotate-45 top-[10px] -left-[22px] bg-red-400 text-[12px] px-8 py-1 z-50"
              >
                okok</span
              >
              <img src="assets/img/100_mp02v-dOr9PbBNiD.webp" />
            </div>
            <p class="font-bold">Kệ xoong nồi Garis inox 304 vách hộp</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
