<div class="containers bg-gray-200">
    <div>
        User settings
    </div>

    <!-- row1 -->
    <div class="flex">
        <!-- column1 -->
        <div>
            <div class="background-white">
                <img width="111px" src="assets/img/jese-leos-2x.png"/>
            </div>

            <div>
                
            </div>

            <div>
                
            </div>

            <div>
                
            </div>
        </div>

        <!-- column2 -->
        <div>
            <div>
                
            </div>

            <div>
                
            </div>

            <div>
                
            </div>

        </div>
    </div>

    <!-- row2 -->
    <div>

    </div>
</div>
