<div class="containers bg-gray-200">
  <div>User settings</div>

  <!-- row1 -->
  <div class="flex text-[0.875rem]">
    <!-- column1 -->
    <div class="w-[10%]"></div>
    <div class="w-[30%] space-y-2">
      <div class="background-white">
        <div class=" flex">
          <div class="w-[50%]">
            <img class="p-2" [src]="userModel.ImagePath" />
          </div>
  
          <div class="ml-3 w-[50%]">
            <div class="font-bold text-[20px]">{{ userModel.FirstName }}</div>
            <div>Software Engineer</div>
            <button class="bg-blue-600 rounded-[5px] p-[5px] text-white">
              Change picture
            </button>
            <input   #imageInput type="file" />
          </div>          
        </div>
        <button class="ml-[45%] btn bg-blue-700 p-2 rounded-[5px]" (click)="processFile(imageInput)" >Save</button>
      </div>

      <div class="background-white space-y-2">
        <div class="font-bold text-[20px]">Language & Time</div>
        <div>Select language</div>
        <div>
          <form>
            <select
              class="bg-gray-50 border border-gray-300 rounded-[5px] w-[90%] h-[30px]"
            >
              <option selected>English(US)</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </form>
        </div>
        <div>Times Zone</div>
        <form>
          <select
            class="bg-gray-50 border border-gray-300 rounded-[5px] w-[90%] h-[30px]"
          >
            <option selected>GMT +0 Greenwich Mean Time (GMT)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </form>
        <button class="bg-blue-600 rounded-[5px] p-[5px] text-white w-[100px]">
          Save all
        </button>
      </div>

      <div class="background-white space-y-2">
        <div class="font-bold text-[20px]">Social accounts</div>

        <div class="">
          <div class="flex border-b border-b-black py-3 border-opacity-20">
            <div class="flex w-[70%]">
              <div>
                <a
                  href="#"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
                >
                  <svg
                    class="w-10 h-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
              </div>
              <div>
                <div class="font-bold">Facebook account</div>
                <a href="#" class="text-blue-400"
                  >www.facebook.com/themesberg</a
                >
              </div>
            </div>
            <div>
              <button
                class="btn bg-white rounded-[10px] font-medium px-[0.75rem] py-[0.5rem] border border-gray-400"
              >
                Disconnect
              </button>
            </div>
          </div>

          <div class="flex border-b border-b-black py-3 border-opacity-20">
            <div class="flex w-[70%]">
              <div>
                <a
                  href="#"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
                >
                  <svg
                    class="w-10 h-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                  >
                    <path
                      d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                    ></path>
                  </svg>
                </a>
              </div>
              <div>
                <div class="font-bold">Twitter account</div>
                <a href="#" class="text-blue-400">www.twitter.com/themesberg</a>
              </div>
            </div>
            <div>
              <button
                class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
              >
                Disconnect
              </button>
            </div>
          </div>

          <div class="flex border-b border-b-black py-3 border-opacity-20">
            <div class="flex w-[70%]">
              <div>
                <a
                  href="#"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
                >
                  <svg
                    class="w-10 h-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
              </div>
              <div>
                <div class="font-bold">Github account</div>
                <div>Not connected</div>
              </div>
            </div>
            <div>
              <button
                class="btn bg-blue-700 text-white font-medium rounded-[10px] px-[0.75rem] py-[0.5rem] border border-blue-400"
              >
                Connect
              </button>
            </div>
          </div>

          <div class="flex border-b border-b-black py-3 border-opacity-20">
            <div class="flex w-[70%]">
              <div>
                <a
                  href="#"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white dark:text-gray-400"
                >
                  <svg
                    class="w-10 h-10"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
              </div>
              <div>
                <div class="font-bold">Dribbble account</div>
                <div>Not connected</div>
              </div>
            </div>
            <div>
              <button
                class="btn bg-blue-700 text-white font-medium rounded-[10px] px-[0.75rem] py-[0.5rem] border border-blue-700"
              >
                Connect
              </button>
            </div>
          </div>

          <button
            class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
          >
            Save all
          </button>
        </div>
      </div>

      <div class="background-white">
        <div class="font-bold text-[20px]">Other accounts</div>
        <div class="flex border-b border-b-gray-400 w-[88%] pb-3 mt-2">
          <div class="flex w-[80%]">
            <div class="mr-5">
              <img
                width="25px"
                height="25px"
                src="assets/img/bonnie-green.png"
                class="rounded-[50%]"
              />
            </div>
            <div>
              <div class="font-medium text-[17px]">Bonnie Green</div>
              <a href="#" class="text-blue-700 font-medium">New York, USA</a>
              <div class="text-gray-600 text-[13px]">Last seen: 1 min ago</div>
            </div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Disconnect
            </button>
          </div>
        </div>

        <div class="flex border-b border-b-gray-400 w-[88%] pb-3 mt-2">
          <div class="flex w-[80%]">
            <div class="mr-5">
              <img
                width="25px"
                height="25px"
                src="assets/img/bonnie-green.png"
                class="rounded-[50%]"
              />
            </div>
            <div>
              <div class="font-medium text-[17px]">Bonnie Green</div>
              <a href="#" class="text-blue-700 font-medium">New York, USA</a>
              <div class="text-gray-600 text-[13px]">Last seen: 1 min ago</div>
            </div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Disconnect
            </button>
          </div>
        </div>

        <div class="flex border-b border-b-gray-400 w-[88%] pb-3 mt-2">
          <div class="flex w-[80%]">
            <div class="mr-5">
              <img
                width="25px"
                height="25px"
                src="assets/img/bonnie-green.png"
                class="rounded-[50%]"
              />
            </div>
            <div>
              <div class="font-medium text-[17px]">Bonnie Green</div>
              <a href="#" class="text-blue-700 font-medium">New York, USA</a>
              <div class="text-gray-600 text-[13px]">Last seen: 1 min ago</div>
            </div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Disconnect
            </button>
          </div>
        </div>
        <div class="flex border-b border-b-gray-400 w-[88%] pb-3 mt-2">
          <div class="flex w-[80%]">
            <div class="mr-5">
              <img
                width="25px"
                height="25px"
                src="assets/img/bonnie-green.png"
                class="rounded-[50%]"
              />
            </div>
            <div>
              <div class="font-medium text-[17px]">Bonnie Green</div>
              <a href="#" class="text-blue-700 font-medium">New York, USA</a>
              <div class="text-gray-600 text-[13px]">Last seen: 1 min ago</div>
            </div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Disconnect
            </button>
          </div>
        </div>

        <button
          class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
        >
          Save all
        </button>
      </div>

      <div></div>
    </div>

    <!-- column2 -->
    <div class="w-[60%] ml-[15px] space-y-2">
      <div class="w-[10%]"></div>
      <div class="background-white">
        <div class="text-[20px] font-bold">General information</div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex">
            <div class="w-[50%]">
              <div>
                <div>First Name</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    formControlName="FirstName"
                    type="text"
                  />
                </div>
              </div>

              <div>
                <div>Country</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Country"
                    formControlName="Country"
                    type="text"
                  />
                </div>
              </div>

              <div>
                <div>Address</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Address"
                    formControlName="Address"
                    type="text"
                  />
                </div>
              </div>

              <div>
                <div>Phone Number</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="PhoneNumber"
                    formControlName="PhoneNumber"
                    type="text"
                  />
                </div>
              </div>

              <div>
                <div>Organization</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Organization"
                    formControlName="Organization"
                    type="text"
                  />
                </div>
              </div>

              <div>
                <div>Department</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    formControlName="Department"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <div class="w-[50%]">
              <div>
                <div>Last Name</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    type="text"
                    formControlName="LastName"
                  />
                </div>
              </div>

              <div>
                <div>City</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    type="text"
                    formControlName="City"
                  />
                </div>
              </div>

              <div>
                <div>Email</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    type="text"
                    formControlName="Email"
                  />
                </div>
              </div>

              <div>
                <div>Birthday</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Birthday"
                    formControlName="Birthday"
                    type="datetime-local"
                  />
                </div>
              </div>
              <div>
                <div>Role</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Bonnie"
                    formControlName="Role"
                    type="text"
                  />
                </div>
              </div>
              <div>
                <div>Zip/postal code</div>
                <div>
                  <input
                    class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                    placeholder="Zip/postal code"
                    formControlName="ZipCode"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
          >
            Save all
          </button>
        </form>
      </div>

      <div class="background-white">
        <div class="font-bold text-[20px]">Password information</div>
        <form [formGroup]="formPassword" (ngSubmit)="onSubmit2()">
          <div class="flex">
            <div class="w-[50%]">
              <div>Currtent Password</div>
              <input
                class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                placeholder="Bonnie"
                type="text"
                formControlName="OldPassword"
              />

              <div>Confirm password</div>
              <input
                class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                placeholder="Bonnie"
                type="text"
                formControlName="ConfirmNewPassword"
              />

              <div class="mt-5">
                <div class="font-bold">Password requirements:</div>
                <p class="text-gray-400">
                  Ensure that these requirements are met:
                </p>

                <div class="ml-5">
                  At least 10 characters (and up to 100 characters)
                  <br />
                  At least one lowercase character
                  <br />
                  Inclusion of at least one special character, e.g., ! @ # ?
                  <br />
                  Some text here zoltan
                </div>
                <button
                type="submit"
                  class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
                >
                  Save all
                </button>
              </div>
            </div>

            <div class="w-[50%]">
              <div>New password</div>
              <input
                class="w-[90%] border border-gray-400 rounded-[7px] bg-gray-100 p-[0.625rem]"
                placeholder="Bonnie"
                type="text"
                formControlName="NewPassword"
              />
              <div>
                <input type="text" />
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="background-white">
        <div class="text-[25px] font-bold">Sessions</div>

        <div class="flex border-b border-b-gray-400 py-3">
          <div class="w-[8%] justify-center items-center flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 5.25a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3V15a3 3 0 0 1-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 0 1-.53 1.28h-9a.75.75 0 0 1-.53-1.28l.621-.622a2.25 2.25 0 0 0 .659-1.59V18h-3a3 3 0 0 1-3-3V5.25Zm1.5 0v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div class="w-[65%]">
            <div class="font-bold text-[17px]">California 123.123.123.123</div>
            <div>Chrome on macOS</div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Revoke
            </button>
          </div>
        </div>

        <div class="flex py-3">
          <div class="w-[8%] justify-center items-center flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5h3m-6.75 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-15a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 4.5v15a2.25 2.25 0 0 0 2.25 2.25Z"
              />
            </svg>
          </div>
          <div class="w-[65%]">
            <div class="font-bold text-[17px]">Rome 24.456.355.983</div>
            <div>Safari on iPhone</div>
          </div>
          <div>
            <button
              class="btn bg-white rounded-[10px] px-[0.75rem] font-medium py-[0.5rem] border border-gray-400"
            >
              Revoke
            </button>
          </div>
        </div>

        <button
          class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
        >
          See more
        </button>
      </div>
    </div>
  </div>

  <!-- row2 -->
  <div class="flex">
    <div class="w-[10%]"></div>
    <div class="background-white mr-5 w-[45%]">
      <div class="text-[25px] font-bold">Alerts & Notifications</div>
      <div>You can set up Themesberg to get notifications</div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Company News</div>
          <div>Get Themesberg news, announcements, and product updates</div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Account Activity</div>
          <div>
            Get important notifications about you or activity you've missed
          </div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Meetups Near You</div>
          <div>
            Get an email when a Dribbble Meetup is posted close to my location
          </div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">New Messages</div>
          <div>Get Themsberg news, announcements, and product updates</div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>
      <button
        class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
      >
        Save all
      </button>
    </div>

    <div class="w-[45%] background-white">
      <div class="text-[20px] font-bold">Email Notifications</div>
      <div>You can set up Themesberg to get email notifications</div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Rating reminders</div>
          <div>
            Send an email reminding me to rate an item a week after purchase
          </div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Item update notifications</div>
          <div>Send user and product notifications for you</div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Item comment notifications</div>
          <div>Send me an email when someone comments on one of my items</div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <div>
          <div class="text-[20px] font-bold">Buyer review notifications</div>
          <div>
            Send me an email when someone leaves a review with their rating
          </div>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
            ></div>
          </label>
        </div>
      </div>
      <button
        class="btn mt-3 bg-blue-700 text-white font-medium rounded-[10px] px-[1rem] py-[0.5rem] border border-blue-700"
      >
        Save all
      </button>
    </div>
  </div>
</div>
