<div class="w-[100%]">
  <div class="mx-[250px]">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <h1 class="font-bold">Tạo mới đơn hàng</h1>
      </div>
      <!-- FORM -->
      <div class="flex flex-col gap-5">
        <div>
          <div>
            <label class="inline-block text-sm">Loại hàng hóa</label>
            <select formControlName="ProductType" class="border border-gray-400 block w-full">
              <option selected>Nạp tiền điện thoại</option>
              <option>Thanh toán hóa đơn</option>
              <option>Thời trang</option>
            </select>
          </div>
        </div>
        <div>
          <p>Số tiền</p>
          <input  formControlName="TotalAmount" type="number" class="border border-gray-400 block w-full" />
        </div>
        <div>
          <p>Nội dung thanh toán</p>
          <textarea formControlName="Content" class="border border-gray-400 block w-full" col="4"></textarea>
        </div>
        <div>
          <p>Tên ngân hàng</p>
          <select  formControlName="BankCode" class="border border-gray-400 block w-full">
            <option selected>NCB</option>
            <option>OCB</option>
            <option>VCB</option>
          </select>
        </div>
        <div>
          <p>Ngôn ngữ</p>
          <select formControlName="Language" class="border border-gray-400 block w-full">
            <option selected>Tiếng Việt</option>
            <option>Tiếng Anh</option>
            <option>Tiếng Nhật</option>
          </select>
        </div>
        <div>
            <button type="input" class="btn border border-gray-600 bg-gray-300 rounded-[3px] px-[7px] py-[4px]">Thanh toán Redirect</button>
        </div>
      </div>
    </form>
  </div>
</div>
