<div class="w-[100]%">
  <h1 class="text-center">
    Giao dịch được thực hiện thành công. Cảm ơn quý khách đã sử dụng dịch vụ
  </h1>
  <div>
    <table class="border border-black table-auto w-full">
      <thead>
        <tr class="text-left">
          <th>Name</th>
          <th>Value</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class=" ">
        <tr class="bg bg-gray-200">
          <td>Order ID</td>
          <td>
            {{ dataReturn.OrderId }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>OrderName</td>
          <td>
            {{ dataReturn.OrderName }}
          </td>
          <td></td>
        </tr>

        <tr class="bg bg-gray-200">
          <td>TransactionId</td>
          <td>
            {{ dataReturn.TransactionId }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>TransactionInfo</td>
          <td>
            {{ dataReturn.TransactionInfo }}
          </td>
          <td></td>
        </tr>

        <tr class="bg bg-gray-200">
          <td>TotalAmount</td>
          <td>
            {{ dataReturn.TotalAmount }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>CurrentCode</td>
          <td>
            {{ dataReturn.CurrentCode }}
          </td>
          <td></td>
        </tr>

        <tr class="bg bg-gray-200">
          <td>TransactionResponseCode</td>
          <td>
            {{ dataReturn.TransactionResponseCode }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>CurrentCode</td>
          <td>
            {{ dataReturn.CurrentCode }}
          </td>
          <td></td>
        </tr>

        <tr class="bg bg-gray-200">
          <td>Message</td>
          <td>
            {{ dataReturn.Message }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>TransactionNumber</td>
          <td>
            {{ dataReturn.TransactionNumber }}
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Bank</td>
          <td>
            {{ dataReturn.Bank }}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
